/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables


@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


$theme-lightgreen: #eeffee;
$theme-green: darkgreen;
$theme-black: black;

/* Colors */
$body-bg: $theme-lightgreen;
$body-color: $theme-green;
$link-color: $theme-black;

/* Fonts */
$font-family-sans-serif: "Winky Sans", sans-serif;
$font-size-root: 17px;


/*-- scss:rules --*/

h1 {
  color: black;
}

.navbar * {
  color: black;
}

span.navbar-title {
  color: black;
  transition-duration: 0.1s;
  &:hover {
    color: grey;
    transition-duration: 0.1s;
  }
}